<template>
    <section id="dashboard-ecommerce">
        <b-row className="match-height">
            <b-col
                xl="3"
                md="3"
            >
                <working-hours></working-hours>
                <working-in-year></working-in-year>
                <category-pie></category-pie>
                <tags-count></tags-count>
            </b-col>
            <b-col
                xl="9"
                md="9"
            >
                <training-list></training-list>
            </b-col>
        </b-row>

    </section>
</template>

<script>
import {BRow, BCol} from 'bootstrap-vue'

import {getUserData} from '@/auth/utils'
import EcommerceMedal from './EcommerceMedal.vue'
import EcommerceStatistics from './EcommerceStatistics.vue'
import EcommerceRevenueReport from './EcommerceRevenueReport.vue'
import EcommerceOrderChart from './EcommerceOrderChart.vue'
import EcommerceProfitChart from './EcommerceProfitChart.vue'
import EcommerceEarningsChart from './EcommerceEarningsChart.vue'
import EcommerceCompanyTable from './EcommerceCompanyTable.vue'
import EcommerceMeetup from './EcommerceMeetup.vue'
import EcommerceBrowserStates from './EcommerceBrowserStates.vue'
import EcommerceGoalOverview from './EcommerceGoalOverview.vue'
import EcommerceTransactions from './EcommerceTransactions.vue'

import WorkingHours from './WorkingHours.vue'
import WorkingInYear from './WorkingInYear.vue'
import CategoryPie from './CategoryPie.vue'
import TagsCount from './TagsCount.vue'
import TrainingList from './TrainingList.vue'

export default {
    components: {
        BRow,
        BCol,

        EcommerceMedal,
        EcommerceStatistics,
        EcommerceRevenueReport,
        EcommerceOrderChart,
        EcommerceProfitChart,
        EcommerceEarningsChart,
        EcommerceCompanyTable,
        EcommerceMeetup,
        EcommerceBrowserStates,
        EcommerceGoalOverview,
        EcommerceTransactions,

        WorkingHours,
        WorkingInYear,
        CategoryPie,
        TagsCount,
        TrainingList
    },
    data() {
        return {
            data: {},
        }
    },
    created() {
        // data
        this.$http.get('/ecommerce/data').then(response => {
            this.data = response.data

            // ? Your API will return name of logged in user or you might just directly get name of logged in user
            // ? This is just for demo purpose
            const userData = getUserData()
            this.data.congratulations.name = userData.fullName.split(' ')[0] || userData.username
        })
    },
}
</script>

<style lang="scss">
@import '~@core/scss/vue/pages/dashboard-ecommerce.scss';
@import '~@core/scss/vue/libs/chart-apex.scss';
</style>
